html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0 10px 0; }

.headWrapper {
  max-width: 985px;
  margin-left: auto;
  margin-right: auto; }
  .headWrapper::after {
    clear: both;
    content: "";
    display: table; }

.homeLink .octicon-mark-github {
  width: 28px;
  height: 28px;
  font-size: 28px;
  color: black; }

.nav1 {
  display: inline-block;
  position: relative;
  bottom: 3px; }
  .nav1 a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold; }

.nav2 {
  float: right;
  position: relative;
  top: 5px; }
  .nav2 .bell .octicon-bell {
    width: 32px;
    font-size: 16px;
    text-align: center; }
  .nav2 .bell {
    position: relative;
    bottom: 5px;
    color: black; }
  .nav2 .plus {
    position: relative;
    bottom: 5px;
    width: 41px;
    margin-right: 10px; }
  .nav2 .plus .octicon-plus {
    width: 16px;
    font-size: 16px;
    color: black; }
  .nav2 .plus .octicon-triangle-down {
    width: 6px;
    font-size: 10px;
    color: black; }
  .nav2 .profileNav .octicon-triangle-down {
    width: 6px;
    font-size: 10px;
    position: relative;
    bottom: 5px;
    color: black;
    margin-left: 5px; }

.searchBar {
  margin-left: 11px;
  padding: 10px;
  width: 360px;
  height: 30px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  font-size: 12px; }

.av2 {
  height: 20px;
  width: 20px;
  border-radius: 3px; }

main {
  max-width: 985px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }
  main::after {
    clear: both;
    content: "";
    display: table; }

.main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0; }
  .main:last-child {
    margin-right: 0; }

.repoTab {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  position: relative;
  bottom: -1px; }

.repoSearch {
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD; }
  .repoSearch .searchBar2 {
    height: 35px;
    width: 260px;
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #CCCCCC; }
  .repoSearch .searchButton {
    height: 33px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 13px; }
  .repoSearch .searchNarrow {
    float: right;
    font-size: 14px;
    position: relative;
    top: 10px; }
    .repoSearch .searchNarrow a {
      text-decoration: none;
      margin-right: 11px; }

.repo {
  border-bottom: 1px solid #DDDDDD;
  margin-top: 35px;
  padding-bottom: 20px; }
  .repo .repoStats {
    float: right; }
  .repo .repoLink {
    text-decoration: none;
    color: #4078C0;
    font-size: 20px;
    font-weight: bold; }
  .repo .repoStats {
    color: #888888;
    font-size: 12px; }
    .repo .repoStats .star {
      margin-right: 10px; }
      .repo .repoStats .star .octicon, .repo .repoStats .star .ocicon-star {
        margin-right: 5px; }
    .repo .repoStats .octicon, .repo .repoStats .octicon-git-branch {
      margin-right: 5px; }
    .repo .repoStats .language {
      margin-right: 10px; }
  .repo .updateText {
    color: #888888;
    font-size: 12px; }

.profileInfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .profileInfo:last-child {
    margin-right: 0; }

.avatar {
  height: 230px;
  width: 230px;
  border-radius: 6px; }

.userName {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 1.3em;
  font-weight: lighter;
  color: #666666; }

.joinDate {
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD; }
  .joinDate .octicon, .joinDate .octicon-clock {
    color: #999999;
    font-size: 16px; }
  .joinDate .date {
    margin-left: 10px;
    color: black;
    font-size: 14px; }

.date {
  font-size: .7em; }

.popCount {
  padding-top: 17px;
  padding-bottom: 17px; }
  .popCount a {
    text-decoration: none; }
  .popCount .followers, .popCount .starred, .popCount .following {
    float: left;
    width: 33.333%; }
  .popCount strong {
    font-size: 30px; }
  .popCount span {
    font-size: 11px;
    color: gray; }

.orgBox {
  margin-top: 40px;
  border-top: 1px solid #DDDDDD; }

/*# sourceMappingURL=style.css.map */
